<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body onload="user();">
    <div class="pg-header">
        <div class="header-content">
            <a class="digg-log" href="/index/">Dragon</a>
            <div class="header-menu">
                <a class='tab active'href="/index/">全部</a>
                <a class='tab' href="/index/">1024区</a>
                <a class='tab' href="/index/">老男孩</a>
                <a class='tab' href="/index/">IT屌丝</a>
            </div>
            <div class="header-search">
                <form id="searchForm" action="/" method="post" name="searchForm">
                    <input id="searchtxt" class="search-txt-s" name="words" autocomplete="off" type="text"
                           style="background-color: rgb(244,244,244);">
                    <a id="searchBtn" class="i" href="/" name="searchBtn">
                        <span class="ico"></span>
                    </a>
                </form>
            </div>
            <div class="action-nav">
                <a id="reg-link-a" class="login-btn-a" href="/regist/">注册</a>
                <a id="login-link-a" class="login-btn-a" href="/login/">登录</a>
                <a class="login hide" href="#"></a>
                <a class="login hide" href="#" onclick="logout();">退出</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="pg-body">
            <div class="pg-l">
                {% block body %}{% endblock %}
            </div>
            <div class="pg-r">
                {% block body_r %}{% endblock %}

            </div>
        </div>
        <div class="pg-footer">
            <div class="foot-nav">
                <div>版权所有：xxxxx有限公司</div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        function user() {
            $.ajax({
            url: '/username/',
            type: 'POST',
            success: function (callback) {
                callback = jQuery.parseJSON(callback);
                if(callback.status==1){
                    $('.login-btn-a').addClass('hide');
                    $('.login').first().text(callback.user);
                    $('.login').removeClass('hide');
                }else{

                }
            }
        })
        }
        function logout() {
            $.ajax({
                url: '/logout/',
                type: 'POST',
                success: function (callback) {
                    callback = jQuery.parseJSON(callback);
                    console.log(callback);
                    if(!callback){
                        $('.login-btn-a').removeClass('hide');
                        $('.login').first().text('');
                        $('.login').addClass('hide');
                    }else {
                        alert(callback);
                    }
                }
            })
        }
    </script>
    {% block js %}{% endblock %}
</body>
</html>