<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/dragon.css">
</head>
<body>
    <div class="head"></div>
    <div class="banner" id="home">
        <div class="header">
            <div class="container">
                <span class="menu"></span>
                <div class="top-menu">
                    <nav>
                        <ul class="cl-effect">
                            <li>
                                <a class="active scroll" href="#home">HOME</a>
                            </li>
                            <li>
                                <a class="scroll" href="#about">ABOUT</a>
                            </li>
                            <li>
                                <a class="scroll" href="#experience">EXPERIENCE</a>
                            </li>
                            <li>
                                <a class="scroll" href="#skill">SKILLS</a>
                            </li>
                            <li>
                                <a class="scroll" href="#contact">CONTACT</a>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="banner_logo">
                <div class="logo">
                    <a href="#home">
                        <h1>My Resume</h1>
                    </a>
                </div>
                <p>
                    Nothing can stop me from carrying out my plan.
                </p>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <h3 class="tittle">ABOUT ME</h3>
            <div class="col-md-5 pic">
                <img src="/static/img/me.jpg" alt="">
            </div>
            <div class="col-md-7 text">
                <h4>我的名字是马业鑫，我是来自于浙江台州，现居上海闵行区。我现在希望能成为一名Python工程师。</h4>
                <P>在大学期间，我担任班长、学生会等多个职位，组织了大大小小多个活动。特别在大一大二期间，带领班级
                    团队获得企业经营仿真大赛第一名，辩论赛第二名等荣誉。</P>
                <p>在校期间，每年都获得奖学金，成绩也始终保持在专业前三，特别在计算机方面的学习，与计算机相关的考试
                    始终保持第一，考过了计算机三级。在学校期间，参加过编程比赛，并获得比较优秀的成绩。</p>
                <p>在社会实践方面，我在校外开设了广告策划，承接校内及校外商家宣传活动的订单，带领着团队，最后和学校
                    建立了长期合作关系。</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="container">
            <h3 class="tittle">EDUCATION & EXPERIENCE</h3>
            <div class="experience-main">
                <span class="devide-line"></span>
                <div class="experience-left">
                    <h4>信息管理与信息系统</h4>
                    <br>
                    <h5>南京航空航天大学金城学院 [2012 - 2016]</h5>
                </div>
                <div class="experience-left-sc">
                    <h4>参加CCIE和SQL培训</h4>
                    <br>
                    <h5>北京欧朋兰博企业投资管理有限公司 [2013 - 2015]</h5>
                </div>
                <div class="experience-left-tr">
                    <h4>参加JAVA培训</h4>
                    <br>
                    <h5>南京网博软件有限公司 [2014 - 2014]</h5>
                </div>
                <div class="experience-right">
                    <h4>交易员</h4>
                    <br>
                    <h5>江苏黑格尔软件有限公司 [2016 - 2016]</h5>
                    <p>主要研究外汇市场中走势规律，并对其做出合理的交易策略。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-skills text-md-center" id="skill">
        <div class="container">
            <h3>MY SKILLS</h3>
            <div class="skill-girds">
                <div class="col-md-3 skill-gird text-center">
                    <div id="circles-1" class="circle">
                        <div style="position: relative; display: inline-block">
                            <svg width="160" height="160">
                                <path fill="transparent" stroke="#ced7df" stroke-width="10" d="M 80 5 A 75 75 0 1 0 80 155 "></path>
                                <path fill="transparent" stroke="#76b852" stroke-width="10" d="M 80 5 A 75 75 0 1 1 5 80 "></path>
                            </svg>
                            <div class="circles-text-wrp">
                                <span class="circles-number">75%</span>
                            </div>
                        </div>
                    </div>
                    <p>Python</p>
                </div>
                <div class="col-md-3 skill-gird text-center">
                    <div id="circles-1" class="circle">
                        <div style="position: relative; display: inline-block">
                            <svg width="160" height="160">
                                <path fill="transparent" stroke="#ced7df" stroke-width="10" d="M 80 5 A 75 75 0 1 0 80 155 "></path>
                                <path fill="transparent" stroke="#76b852" stroke-width="10" d="M 80 5 A 75 75 0 1 1 80 155 "></path>
                            </svg>
                            <div class="circles-text-wrp">
                                <span class="circles-number">50%</span>
                            </div>
                        </div>
                    </div>
                    <p>HTML/CSS</p>
                </div>
                <div class="col-md-3 skill-gird text-center">
                    <div id="circles-1" class="circle">
                        <div style="position: relative; display: inline-block">
                            <svg width="160" height="160">
                                <path fill="transparent" stroke="#ced7df" stroke-width="10" d="M 80 5 A 75 75 0 1 0 80 155 "></path>
                                <path fill="transparent" stroke="#76b852" stroke-width="10" d="M 80 5 A 75 75 0 1 1 5 80 "></path>
                            </svg>
                            <div class="circles-text-wrp">
                                <span class="circles-number">75%</span>
                            </div>
                        </div>
                    </div>
                    <p>Django</p>
                </div>
                <div class="col-md-3 skill-gird text-center">
                    <div id="circles-1" class="circle">
                        <div style="position: relative; display: inline-block">
                            <svg width="160" height="160">
                                <path fill="transparent" stroke="#ced7df" stroke-width="10" d="M 80 5 A 75 75 0 1 0 80 155 "></path>
                                <path fill="transparent" stroke="#76b852" stroke-width="10" d="M 80 5 A 75 75 0 1 1 80 155 "></path>
                            </svg>
                            <div class="circles-text-wrp">
                                <span class="circles-number">50%</span>
                            </div>
                        </div>
                    </div>
                    <p>Linux</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="container">
            <div class="contact-grids">
                <div class="col-md-4 contact-grid text-center">
                    <div class="point-icon">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </div>
                    <p>上海市闵行区吴泾镇</p>
                </div>
                <div class="col-md-4 contact-grid text-center">
                    <div class="point-icon">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                    <p>mayexinxin@163.com</p>
                </div>
                <div class="col-md-4 contact-grid text-center">
                    <div class="point-icon">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    </div>
                    <p>15216651238</p>
                </div>
            </div>
        </div>
    </div>
    <a id="to-top" href="#" class="hide"></a>



    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".top-menu a").click(function (event) {
                $(this).parent().siblings().children().removeClass('active');
                $(this).parent().children().addClass('active');
            });
            $(window).scroll(function () {
                if($(window).scrollTop()>300){
                    $('#to-top').removeClass('hide');
                }else {
                    $('#to-top').addClass('hide');
                }
            });
        });



    </script>
</body>
</html>